<html>
  <body>
    <div class="container">
      <h2 id="hidden" style="display:none;">Hello User</h2>
    </div>
    <div class="container form-group" style="margin-top:20px;">
      <input autocomplete="off" required type="text" id="username" placeholder="username" ng-model="vm.user.username">
      <input autocomplete="off" required type="text" id="password" placeholder="password" ng-model="vm.user.password">
      <button type="button" class="btn btn-success" ng-click="vm.submitUser(vm.user)">Submit</button>
    </div>
  </body>
</html>
