<html>
<div class="container">
	<div class="container users-container">
		<div id="searchBar">
		<input type="text" id="myInput" onkeyup="search()" placeholder="Search.." title="Type in a name">
		<!--<span style="font-size:18px;cursor:pointer" onclick="searchDate()" tabindex="1" id="dateSearch">Date</span>-->
		</div>
		<table class="table table-bordered table-striped table-hovered table-condensed">
			<th>Assignment</th>
			<th>Class</th>
			<th>Date</th>
			<th>Actions</th>
			<tr ng-repeat="user in vm.users | orderBy:'assignment'">
				<td>{{user.assignment}}</td>
				<td>{{user.class}}</td>
				<td>{{user.date | date:'MM/dd/yyyy'}}</td>
        <td>
          <button class="btn btn-warning action" ng-click="vm.edituser=!vm.edituser">Edit</button><button class="btn btn-danger" ng-click="vm.removeUser(user)">Delete</button>
        </td>
      </tr>
    </table>
		<div class="container edit-assignment" ng-hide="!vm.edituser">
			<div class="form-group">
				<label for="assignment">Edit Name</label>
				<input required type="text" id="assignment" class="form-control" style="width:45%;" autocomplete="off" ng-model="user.assignment">
			</div>
			<div class="form-group">
				<label for="class">Edit Class</label>
				<select style="font-size:16px;width:45%;" id="classSelect" class="form-control" ng-model="user.class">
		      <option style="font-size:16px" value="Math Studies">IB Math Studies</option>
		      <option style="font-size:16px" value="English 12">English 12</option>
		      <option style="font-size:16px" value="Physics">Physics</option>
		      <option style="font-size:16px" value="US Goverment">US Goverment</option>
		    </select>
			</div>
			<div class="form-group">
				<label for="date">Edit Date</label>
				<input required type="date" id="date" class="form-control" style="width:45%;" ng-model="user.date">
			</div>
			<button class="btn btn-success" ng-disabled="!user.assignment || !user.date" ng-click="vm.editUser(user)">Submit</button>
			<button class="btn btn-info" ng-click="vm.edituser=false">Cancel</button>
    </div>
		<button class="btn btn-primary btn-large add-assignment" ng-click="vm.adduser=!vm.adduser" ng-hide="vm.adduser==true;vm.edituser==true">Add Assignment</button>
		<div class="container create-assignment" ng-hide="!vm.adduser">
			<div class="form-group">
				<label for="assignment">Name</label>
				<input required type="text" id="assignment" class="form-control" style="width:45%;" autocomplete="off" ng-model="vm.user.assignment">
			</div>
			<div class="form-group">
				<label for="class">Class</label>
				<select style="font-size:16px;width:45%;" id="classSelect" class="form-control" ng-model="vm.user.class">
		      <option style="font-size:16px" value="Math Studies">IB Math Studies</option>
		      <option style="font-size:16px" value="English 12">English 12</option>
		      <option style="font-size:16px" value="Physics">Physics</option>
		      <option style="font-size:16px" value="US Goverment">US Goverment</option>
		    </select>
			</div>
			<div class="form-group">
				<label for="date">Date</label>
				<input required type="date" id="date" class="form-control" style="width:45%;" ng-model="vm.user.date">
			</div>
			<button class="btn btn-success" ng-disabled="!vm.user.assignment || !vm.user.date" ng-click="vm.addUser(vm.user)">Submit</button>
			<button class="btn btn-info" ng-click="vm.adduser=false">Cancel</button>
</div>
<!--ng-click="vm.addUser(vm.user)"-->
</html>
