html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #000000;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.header{
  position: relative;
  left: 0px;
  bottom: 40px;
  background-color: skyblue;
  padding: 25px;
  margin-top: -15px;
}
.nav{
  float: right;
}
.nav li{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}
.nav ul:first-child{
  margin-right: 50px;
}
